@import '../../mixins.scss';

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.65rem;
  padding: 100px 12px;
  background-color: var(--faq-bg-color);

  @include onTablet {
    padding: 120px 82px;
    gap: 3rem;
  }

  &__title {
    text-align: center;
    font-size: 2rem;

    @include onTablet {
      font-size: 3.5rem;
      max-width: 509px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1.45rem;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--faq-color);
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__question {
    font-weight: 700;

    @include onTablet {
      font-size: 1.45rem;
    }
  }
}