@import '../../mixins.scss';


.slider {
  overflow: hidden;
  &__image {
    width: 100%;
    max-height: max-content;
  }
}

.swiper {
  width: 100%;

  &-container-first {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-wrapper-first {
    display: flex;
    max-width: 1200px;

    @include onDesktop {
      justify-content: center;
    }
  }

  &-slide-first {
    overflow: hidden;
    max-width: 240px;
    max-height: 294px;
    border-radius: 20px;

    @include onTablet {
      max-width: 400px;
      max-height: 484px;
    }

    @include onDesktop {
      max-width: 330px;
    }
  }
}