@import '../../mixins.scss';

.training {
  &__title {
    font-size: 2rem;
    text-align: center;

    @include onTablet {
      font-size: 4rem;
    }
  }

  &__description {
    max-width: 540px;
    font-size: 1.15rem;
    margin: 24px auto;
    text-align: center;

    @include onTablet {
      font-size: 1.4rem;
      margin: 40px auto;
    }
  }
}