@import '../../mixins.scss';

.learning {
  position: relative;
  background-image: url(../../../assets/images/learning-background.png);
  background-size: cover;
  background-repeat: no-repeat;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 21px;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
      padding: 89px 106px;
      margin: 0 auto;
      max-width: 1200px;
    }
  }

  &__knowledge {
    display: flex;
    flex-direction: column;
    gap: 1.45rem;
    max-width: 460px;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    margin-top: 24px;

    @include onTablet {
      font-size: 4rem;
    }

    @include onDesktop {
      text-align: start;
    }
  }

  &__program-link {
    font-size: 1.15rem;
    text-align: center;

    @include onDesktop {
      text-align: start;
    }
  }

  &__statistics {
    display: flex;
    flex-direction: column;
    gap: 1.45rem;
    max-width: 460px;

    @include onDesktop {
      max-width: 390px;
    }
  }

  &__description {
    font-size: 1.15rem;
    text-align: center;
  }

  &__program {
    display: flex;
    justify-content: center;
    gap: 1.45rem;

    @include onDesktop {
      gap: 2rem;
    }
  }

  &__stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7rem;

    &-number {
      width: 64px;
      height: 64px;
      background-color: var(--accent-color);
      text-align: center;
      line-height: 64px;
      border-radius: 50px;
    }

    &-label {
      font-size: 1.45rem;
      text-transform: uppercase;
    }
  }

}